<div class="slider-container" [ngClass]="{ 'open': sliderOpen }">
    <div class="slider-content">
        <div class="slider-header">
            <h2>Add New Row</h2>
        </div>
        <hr>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Company (disabled)" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Username">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Email address" type="email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fist Name" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Last Name" type="text">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Adress" type="text">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="City" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Country" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Postal Code" type="text">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <label>About Me</label>
                      <mat-form-field class="example-full-width">
                         <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                       </mat-form-field>
                        <!-- <div class="form-group">

                            <div class="form-group">
                                <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div> -->
                    </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- <div class="form-group">
            <form (ngSubmit)="onSaveClick()">
              <label for="name">Name :</label>
              <input type="text" id="name" class="form-control" [(ngModel)]="name" name="name" placeholder="Name">
          
              <label for="amount">Amount:</label>
              <input type="text" id="amount" class="form-control" [(ngModel)]="amount" name="amount" placeholder="Enter amount">
          
              <label for="accountId">Account: </label>
              <input type="select" id="accountId" class="form-control" [(ngModel)]="accountId" name="accountId" placeholder="Select Account">
          
              <label for="contactId">Contact: </label>
              <input type="select" id="contactId" class="form-control" [(ngModel)]="contactId" name="contactId" placeholder="Select Contact">
          
              <label for="stage">Stage: </label>
              <input type="select" id="stage" class="form-control" [(ngModel)]="stage" name="stage" placeholder="Select Stage">
          
              <label for="closingDate">Closing Date: </label>

              <input type="date" id="closingDate" class="form-control" [(ngModel)]="closingDate" name="closingDate" placeholder="Select Closing Date">
          
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div> -->
          
        <hr>
        <div class="slider-header">
            <button type="cancel" (click)="onCancel($event)">Save</button>
        </div>
    </div>
</div>
